@charset "UTF-8";
body{
    color: #707070;
    font-size: 16px;
    font-family: "Malgun Gothic",Arial, Helvetica, sans-serif;
    background-image: url(../img/bgcolor.jpeg);
    background-repeat: repeat;
    background-size: contain;
}
img{
    max-width: 100%;
}
.sponly{
    display: none;
}

/* 共通 */
/* 余白 */
.wrapper{
    padding: 0 38px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* セクションタイトル */
.section-title{
    background-image: url(../img/ribon.png);
    background-repeat: no-repeat;
    width: 305px;
    height: 58px;
    margin: 100px auto 50px auto;
    color: #F3F2F2;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
/* ボタン */
.more-botan{
    display: block;
    background-color: #C58D98;
    color: #F3F2F2;
    font-size: 20px;
    font-weight: bold;
    width: 182px;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 8px gray;
    transition: 0.4s;
}
.more-botan:hover{
    background-color: #F3F2F2;
    color: #C58D98;
    transition: 0.4s;
}
/* 電話 */
.tel::before{
    content: "";
    background-image: url(../img/tel.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
}
.tel{
    font-size: 28px;
    font-weight: bold;
    position: relative;
}
/* スクロール */
.scroll-fadein {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}
.scroll-fadein.on {
  opacity: 1;
  transform: translateY(0);
}


/* ヘッダー */
#header{
    background-color: #EDE4E1;
    padding: 15px 0;
    width: 100%;
    height: 138px;
    position: fixed;
    z-index: 5;
}
.headerinner{
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 120px;
}
.main-nav,.main-nav ul{
    display: flex;
    align-items: flex-end;
    width: 452px;
    justify-content: space-between;
    padding-right: 10px;
}
.main-nav li{
    font-size: 20px;
    border-left: #707070 dotted 1px;
    height: 27px;
    padding:0 10px;
    position: relative;
}
.main-nav li::after{
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #C58D98;
    bottom: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.main-nav li:hover::after{
    visibility: visible;
    bottom: 0px;
    opacity: 1;
}
.main-nav li:first-child{
    border: none;
}
.main-nav img{
    width: 60px;
}
#header .tel{
    text-align: right;
    padding-bottom: 15px;
}
#header .tel::before{
    right: 185px;
}


/* メイン */
.mainvis{
    padding-top: 160px;
}
.maintext{
    text-align: center;
}
.subtitle{
    margin-top: 100px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}
.maintext p{
    line-height: 1.8;
}

/* ニュース */
.newslist{
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
    margin: 0 auto 50px auto;
    text-align: center;
}
.newslist dt{
    width: 40%;
}
.newslist dd{
    width: 60%;
    text-align: left;
}
.newslist dt,.newslist dd{
    border-bottom: #707070 solid 1px;
    padding: 10px 0;
}

/* メニュー */
#menu img{
    border-radius: 20px;
    width: 50%;
}
.menuinner{
    width: 50%;
    text-align: center;
}
.menulist{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.reverse{
    flex-direction: row-reverse;
}
#menu .menuin-en{
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
#menu .menuin-ja{
    font-size: 20px;
    font-weight: bold;
}
.menuin-text{
    margin: 20px 0 70px 0;
}

/* インスタグラム */
.insta-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.insta-img li{
    width: calc(100% / 4 - 25px);
}

/* コンタクト */
#contact .section-title{
    margin-top: 80px;
}
#contact{
    text-align: center;
}
#contact .tel{
    display: inline-block;
}
#contact .tel::before{
    left: -16%;
}
#contact p{
    margin-bottom: 25px;
}
.map{
    width: 100%;
    margin: 25px 0 150px 0;
}

/* フッター */
#footer{
    background-color: #EDE4E1;
}
#footer p{
    text-align: center;
    font-size: 12px;
    padding: 55px 0 25px 0;
}

@media screen and (max-width:744px){
    body{
        font-size: 14px;
    }
    .pconly{
        display: none;
    }
    .sponly{
        display: block;
    }
    .section-title{
        margin-top: 70px;
    }

    /* ハンバーガーメニュー */
    #header{
        height: 90px;
    }
    .logo img{
        width: 80px;
    }
    .headerinner{
        flex-direction: column;
    }
    .main-nav{
        width: 100%;
        padding: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s;
        position: fixed;
        left: 0;
    }
    .main-nav ul{
        width: 100%;
        background-color: rgb(237, 228, 225,0.9);
        flex-direction: column;
        align-items: center;
        padding: 60px;
    }
    .main-nav li{
        border: none;
        margin-bottom: 40px;
    }
    .hamburger{
        width: 40px;
        height: 30px;
        position: fixed;
        right: 38px;
        top: 30px;
        z-index: 10;
    }
    .hamburger span{
        display: block;
        height: 2px;
        width: 100%;
        background-color: #707070;
        position: absolute;
        transition: 0.6s;
    }
    .hamburger span:nth-child(1){
        top: 0;
    }
    .hamburger span:nth-child(2){
        top: 15px;
    }
    .hamburger span:nth-child(3){
        top: 30px;
    }

    .main-nav.open{
        visibility: visible;
        opacity: 1;
        transition: 0.6s;
    }
    .hamburger.active span:nth-child(1){
        transform: rotate(45deg);
        top: 15px;
    }
    .hamburger.active span:nth-child(2){
        opacity: 0;
    }
    .hamburger.active span:nth-child(3){
        transform: rotate(-45deg);
        top: 15px;
    }

    /* ヘッダー */
    .logo{
        max-width: 130px;
    }
    
    /* メイン */
    .mainvis{
        padding-top: 100px;
    }
    .subtitle{
        margin-top: 70px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 50px;
    }

    /* ニュース */
    .newslist dt{
        width: 30%;
    }
    .newslist dd{
        width: 70%;
    }

    /* メニュー */
    .menulist{
        flex-direction: column;
    }
    .menuinner,#menu img{
        width: 100%;
    }
    .menuin-en{
        margin-top: 30px;
        font-size: 28px;
    }
    .menuin-ja{
        font-size: 18px;
    }
    .menuin-text{
        margin-bottom: 50px;
    }
    /* インスタグラム */
    .insta-img{
        justify-content: center;
    }
    .insta-img li{
        width: calc(100% / 2 - 25px);
    }
    /* コンタクト */
    #contact .section-title{
        margin-top: 50px;
    }
    /* フッター */
    #footer p{
        padding: 35px 0 15px 0;
    }
}